name: _build
description: Central build project for compiling all Tom workspace binaries.
version: 1.0.0
publish_to: none

environment:
  sdk: ^3.10.4

dependencies:
  path: ^1.9.0
  
  # Build/Dev tools
  tom_build_cli:
    path: ../devops/tom_build_cli
  tom_build_common:
    path: ../devops/tom_build_common
  tom_deploy_tools:
    path: ../devops/tom_deploy_tools
  tom_dartscript_bridges:
    path: ../dartscript/tom_dartscript_bridges
  
  # D4rt and reflection generators
  tom_d4rt:
  tom_d4rt_dcli:
  tom_d4rt_generator:
  
  # Basics
  tom_basics_network:
  
  # VS Code bridge
  tom_vscode_bridge:
    path: ../xternal/tom_module_vscode/tom_vscode_bridge
  
  # Distributed tools
  tom_dist_ledger_tool:
    path: ../xternal/tom_module_distributed/tom_dist_ledger_tool
  tom_process_monitor_tool:
    path: ../xternal/tom_module_distributed/tom_process_monitor_tool

dev_dependencies:
  build_runner: ^2.4.14
  tom_build_kit:
    path: ../xternal/tom_module_basics/tom_build_kit
  lints: ^6.0.0
  test: ^1.25.6

dependency_overrides:
  runtime_native_semaphores:
    git:
      url: https://github.com/al-the-bear/native_semaphores.git
      ref: fork-fix

executables:
  tom: tom
  ws_analyzer: ws_analyzer
  ws_prepper: ws_prepper
  doc_scanner: doc_scanner
  docspecs: docspecs
  md2pdf: md2pdf
  md2latex: md2latex
  reflect: reflect
  deploy: deploy
  d4rt: d4rt
  d4rt_gen: d4rt_gen
  reflect_gen: reflect_gen
  vscode_bridge: vscode_bridge
  ledger_server: ledger_server
  process_monitor: process_monitor
